In [ ]:
%defaultDatasource jdbc:h2:mem:db

In [ ]:
Pessoas(__Id__, Genero, Idade)
Medicamentos(__Codigo__, NomeMedicamento)
Usos(IdPessoa, CodMedicamento, DiasUso)

In [ ]:
DROP TABLE IF EXISTS Pessoas;
DROP TABLE IF EXISTS Medicamentos;
DROP TABLE IF EXISTS Usos;

CREATE TABLE Usos (
  IdPessoa VARCHAR(5) NOT NULL,
  CodMedicamento VARCHAR(6) NOT NULL,
  DiasUso INTEGER NOT NULL,
  FOREIGN KEY(IdPessoa)
    REFERENCES Pessoas(Id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(CodMedicamento)
    REFERENCES Medicamentos(Codigo)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

CREATE TABLE Medimcamentos (
  Codigo VARCHAR(6) NOT NULL,
  NomeMedicamento VARCHAR(100) NOT NULL,
  PRIMARY KEY(Codigo)
);

CREATE TABLE Pessoas (
  Id VARCHAR(5) NOT NULL,
  Genero VARCHAR(1) NOT NULL,
  Idade INTEGER,

  PRIMARY KEY(Id)
);

### Importar!!!

In [ ]:
SELECT * FROM Medicamentos

In [ ]:
SELECT * FROM Pessoas

In [ ]:
SELECT * FROM Usos

In [ ]:
SELECT Id FROM Pessoas WHERE Idade > 60

In [ ]:
SELECT DISTINCT Idade FROM Pessoas

In [ ]:
SELECT Pessoas.Id, Pessoas.Idade, Usos.CodMedicamento, Usos.DiasUso
FROM Pessoas, Usos
WHERE Pessoas.Id = Usos.IdPessoa

In [ ]:
SELECT Pessoas.Id, Pessoas.Idade, Medicamentos.NomeMedicamento, Usos.DiasUso
FROM Pessoas, Medicamentos, Usos
WHERE Pessoas.Id = Usos.IdPessoa AND Usos.CodMedicamento = Medicamentos.Codigo

In [ ]:
SELECT DISTINCT Medicamentos.NomeMedicamento
FROM Medicamentos, Usos, Pessoas
WHERE Medicamentos.Codigo = Usos.CodMedicamento AND Pessoas.Id = Usos.IdPessoa

In [ ]:
SELECT Medicamentos.NomeMedicamento 
FROM Medicamentos, Usos
WHERE Medicamentos.Codigo = Usos.CodMedicamento AND Usos.DiasUso > 2000