In [ ]:
%defaultDatasource jdbc:h2:mem:db

In [ ]:
Pessoas(__Id__, Genero, Idade)
Medicamentos(__Codigo__, NomeMedicamento)
Usos(IdPessoa, CodMedicamento, DiasUso)

In [ ]:
CREATE TABLE Pessoa (
  Id VARCHAR(5) NOT NULL,
  Genero INTEGER,
  Idade INTEGER,
  PRIMARY KEY(Id)
) AS SELECT
    Id,
    Genero,
    Idade
FROM CSVREAD('../demographic-person.csv');

CREATE TABLE Medicamento (
  Codigo VARCHAR(6) NOT NULL,
  NomeMedicamento VARCHAR(100) NOT NULL,
  PRIMARY KEY(Codigo)
) AS SELECT
    Codigo,
    NomeMedicamento
FROM CSVREAD('../medications-drug.csv');

CREATE TABLE UsoMedicamento (
  IdPessoa VARCHAR(5) NOT NULL,
  CodMedicamento VARCHAR(6) NOT NULL,
  DiasUso INTEGER,
  FOREIGN KEY(IdPessoa)
    REFERENCES Pessoa(Id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(CodMedicamento)
    REFERENCES Medicamento(Codigo)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
) AS SELECT
    IdPessoa,
    CodMedicamento,
    DiasUso
FROM CSVREAD('..4/medications-use.csv');

In [ ]:
SELECT * FROM Medicamentos

In [ ]:
SELECT * FROM Pessoas

In [ ]:
SELECT * FROM Usos

In [ ]:
SELECT Id FROM Pessoas WHERE Idade > 60

In [ ]:
SELECT DISTINCT Idade FROM Pessoas

In [ ]:
SELECT Pessoas.Id, Pessoas.Idade, Usos.CodMedicamento, Usos.DiasUso
FROM Pessoas, Usos
WHERE Pessoas.Id = Usos.IdPessoa

In [ ]:
SELECT Pessoas.Id, Pessoas.Idade, Medicamentos.NomeMedicamento, Usos.DiasUso
FROM Pessoas, Medicamentos, Usos
WHERE Pessoas.Id = Usos.IdPessoa AND Usos.CodMedicamento = Medicamentos.Codigo

In [ ]:
SELECT DISTINCT Medicamentos.NomeMedicamento
FROM Medicamentos, Usos, Pessoas
WHERE Medicamentos.Codigo = Usos.CodMedicamento AND Pessoas.Id = Usos.IdPessoa

In [ ]:
SELECT Medicamentos.NomeMedicamento 
FROM Medicamentos, Usos
WHERE Medicamentos.Codigo = Usos.CodMedicamento AND Usos.DiasUso > 2000